.carousel.slide.carousel-fade {
    margin:3em 0;
}

.carousel-inner {
    margin:auto;
    padding:auto;
    height: 50vh;

}

.carousel-indicators {
    margin: auto;
    padding: auto;
    top: 80%;
}


.carousel-item img {
    text-align: center;
    margin: auto;
}